<form class="echo-box-form">
    <mat-form-field class="full-width">
      <mat-label>Type something to get an echo back</mat-label>
      <input matInput [formControl]="echoFormControl">
    </mat-form-field>
    <mat-card>
      <mat-card-content>{{ echoMessage }}</mat-card-content>
    </mat-card>
</form>